body {
    color: white !important;
    font-weight: 500; 
    --file-line-width: 1300px !important;
    code-size: 0.8em !important;
} 

.cm-s-obsidian .HyperMD-codeblock {
  font-size: 14px !important;
}

mjx-container { % works for live preview and reading mode
	line-height: 0px;
	font-size: 19px !important;
}

.cm-s-obsidian span.cm-inline-code {
  color: #ed4d5f !important; /* Change this to the desired color */
}

.cm-strong, .markdown-preview-section strong {
  color: #8080d5 !important; /* Change this to the desired color */
}

.markdown-preview-view h1, .cm-header-1 {
  color: #eba35a !important;
}
.markdown-preview-view h2, .cm-header-2 {
  color: #93c47d !important;
}
.markdown-preview-view h3, .cm-header-3 {
  color: #db62a9 !important;
}

